<div class=" bg-[#101828] mx-auto  max-w-[1440px] min-w-[280px] py-8 px-4 sm:px-8 md:px-10 lg:0px-20 ">
    <div
      class="w-full rounded-[50px] sm:rounded-[60px] md:rounded-[70px] lg:rounded-[80px] bg-gradient-to-r from-yellow-300 to-orange-500 flex flex-col lg:flex-row  items-center  py-6 sm:py-9 md:py-11 lg:py-14  px-2  sm:px-4 md:px-8 xl:px-16">
      <img class="w-full lg:w-1/2 xl:w-full max-w-[550px] lg:order-2" src="LogoQuiz-removebg-preview.png" alt="QuizApp">
      <div class="text-center md:text-left">
        <h1
          class="text-4xl leading-[48px] md:text-5xl md:leading-[58px] lg:text-[50px] lg:leading-[70px] font-bold mb-6 md:mb-12">
          Elevate Your Knowledge with QuizApp.
        </h1>
       
        <a RouterLink="/quizz" class="w-full flex items-center  justify-between outline-gray-600 max-w-[350px] text-xl  font-bold sm:text-lg  rounded-[38px] bg-[#262626] text-white py-4 px-6 sm:px-9">
          Get Started ->       
        </a>
      </div>
    </div>
</div>